.text-primary {
  color: #ff7129 !important;
}

* {
  font-family: "Otaku";
  font-weight: bold;
}

html,
body,
#app,
#app > div {
  height: 100%;
}

@font-face {
  font-family: "Naruto";
  src: local("Naruto"), url(./assets/fonts/njnaruto.ttf) format("truetype");
}

@font-face {
  font-family: "Otaku";
  src: local("Otaku"), url(./assets/fonts/OtakuRant.ttf) format("truetype");
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}

.toast-success-container {
  color: #ff7129 !important;
  border-radius: 8px !important;
  background: #18191a !important;
  border: 1px solid #18191a !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}

.toast-success-container-after {
  overflow: hidden;
  position: relative;
}

.toast-success-container-after::after {
  top: 0;
  left: 0;
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: #00ff4c;
}



.toast-error-container {
  color: #ff7129 !important;
  border-radius: 8px !important;
  background: #18191a !important;
  border: 1px solid #18191a !important;
  box-shadow: 0px 1px 5px rgba(248, 175, 175, 0.1) !important;
}

.toast-error-container-after {
  overflow: hidden;
  position: relative;
}

.toast-error-container-after::after {
  top: 0;
  left: 0;
  content: "";
  width: 7px;
  height: 100%;
  position: absolute;
  display: inline-block;
  background-color: #ff0000;
}
